button {
    background: $brown;
}

.button {
    border-radius: 50px;
    width: 100%;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans Condensed";
    font-size: 18px;
    padding: 10px;
    letter-spacing: .5px;
    color: #fff;
    border: 1px solid $brown;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    &:hover {
        color: $brown;
        background-color: #fff;
    }
}