/*
    DEFAULT
*/

$max-width: 1000px;
$max-mobile-width: 450px;

/* colors: */

$brown: #ac702a;
$grey: #838383;
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: "Open Sans Condensed";
    overflow-x: hidden;
    font-size: 16px;
    color: $grey;
    @media screen and (max-width: $max-width) {}
    @media screen and (max-width: $max-mobile-width) {}
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

section {
    width: fit-content;
    margin: 0 auto;
    background-color: #fdfdfd;
    box-sizing: border-box;
    height: 100vh;
}

* {
    outline: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

p {
    font-size: 16px;
    color: #838383;
    font-weight: 600;
    margin: 0 0 20px;
}

#phone {
    background: url(../images/phone.png) no-repeat transparent;
    background-size: cover;
    height: 655px;
    width: 450px;
    padding: 70px 42px 70px 61px;
    left: 0;
    text-align: center;
    position: relative;
    @media screen and (max-width: 450px) {
        width: calc(100vw + 40px);
        margin-left: -20px;
        margin-right: -20px;
    }
    @media screen and (max-width: 450px) {
        width: calc(100vw + 70px);
        margin-left: -35px;
        margin-right: -35px;
    }
}

.transition{
    -webkit-transition: all .5s;
    transition: all .5s;
}